*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

h1{
  text-align: center;
}

.Form{
  background-color: rgba(106, 68, 68, 0.278);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  border-right: 3px solid red;
}

.inputRow{
  display: grid;
  grid-template-columns: 30% 30%;
  /* grid-template-rows: 1fr; */
  justify-content: center;
  align-items: center;
}


.inputTag input{
  font-size: 1.3rem;
  border-radius: 1rem;
  padding:5px;
}

.inputTag label{
  font-size: 1.2rem;
}

.inputRow p{
  font-size:1.2rem;
}

.skills_checkbox{
  display: flex;
}


.skills_ele{
  margin-right:10px
}


.but_sec{
  display: flex;
  justify-content: space-evenly;
}

.but_sec button{
  font-size: 1.6rem;
  border-radius: 1rem;
  padding:2px;
}

.Window{
  background-color: rgba(0, 0, 120, 0.164);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-left: 3px solid blue;
}

.Window h1{
  text-align: center;
  margin:20px;
}

.Window .display_header{
  width: 80%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin:10px;
}

.Window .display_stud{
  width: 80%;
  height: 60%;
  display: grid;
  /* grid-template-columns: 3fr 1fr; */
  overflow-y: auto;
  margin-bottom: 40px;
  border-radius: 1.2rem;
}

.Window .display_stud .inner_display_stud{
  width: 95%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin:10px;
}

.desc-head, .img-head{
  /* border:2px solid black; */
  /* height: 30px; */
  font-size: 2rem;
  padding:2px;
  background-color: blanchedalmond;
}

.desc-child , .img-child{
  border:2px solid black;
  height: 130px;
  padding:2px;
  background-color: rgb(109, 233, 109);
  /* border:0; */
  /* height: 100px; */
  margin: 3px;
}

.desc-child{
  font-size: 1.2rem;
  padding-left:20px;
  padding-bottom:20px;
}
.img-child{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-child img{
  box-shadow: 2px 2px 10px black;
}

/* .desc-child{
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
}

.img-child{
  border-top-right-radius: 1.4rem;
  border-bottom-right-radius: 1.4rem;
} */
